* {
  -ms-overflow-style: none;

  scrollbar-width: none;
}
body {
  font-family: Arial, Helvetica, sans-serif, "Nanum Gothic";
  height: 100%;
}

.header {
  width: 100%;
  height: 50rem;
  margin-bottom: 80px;
  background-size: cover;
  background-image: url(../static/img/banner.png);

  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 50vh;
  animation: typing 3s steps(22), blink 2s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Nanum Gothic", monospace;
  font-size: 2em;
  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ---소개 --- */
.wrap {
  max-width: 100%;
  height: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.wrap .card {
  height: 430px;

  width: 295px;

  border-radius: 15px;

  display: inline-block;

  margin-top: 30px;

  margin-left: 30px;

  margin-bottom: 30px;

  position: relative;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  overflow: hidden;
}

.card-header {
  -webkit-transition: 0.5s;
  /*사파리 & 크롬*/

  -moz-transition: 0.5s;
  /*파이어폭스*/

  -ms-transition: 0.5s;
  /*인터넷 익스플로러*/

  -o-transition: 0.5s;
  /*오페라*/

  transition: 0.5s;

  width: 100%;

  height: 270px;

  border-radius: 15px 15px 0 0;

  background-image: url("images/korea.jpeg");

  background-size: 100% 280px;

  background-repeat: no-repeat;

  background-color: #45e6cd;
}

.card-header-1 {
  -webkit-transition: 0.5s;
  /*사파리 & 크롬*/

  -moz-transition: 0.5s;
  /*파이어폭스*/

  -ms-transition: 0.5s;
  /*인터넷 익스플로러*/

  -o-transition: 0.5s;
  /*오페라*/

  transition: 0.5s;

  width: 100%;

  height: 270px;

  border-radius: 15px 15px 0 0;

  background-image: url("images/korea.jpeg");

  background-size: 100% 280px;

  background-repeat: no-repeat;

  background-color: #ceb3ff;
}

.card-header-2 {
  -webkit-transition: 0.5s;
  /*사파리 & 크롬*/

  -moz-transition: 0.5s;
  /*파이어폭스*/

  -ms-transition: 0.5s;
  /*인터넷 익스플로러*/

  -o-transition: 0.5s;
  /*오페라*/

  transition: 0.5s;

  width: 100%;

  height: 270px;

  border-radius: 15px 15px 0 0;

  background-image: url("images/korea.jpeg");

  background-size: 100% 280px;

  background-repeat: no-repeat;

  background-color: #fbfbcb;
}

.card-header-3 {
  -webkit-transition: 0.5s;
  /*사파리 & 크롬*/

  -moz-transition: 0.5s;
  /*파이어폭스*/

  -ms-transition: 0.5s;
  /*인터넷 익스플로러*/

  -o-transition: 0.5s;
  /*오페라*/

  transition: 0.5s;

  width: 100%;

  height: 270px;

  border-radius: 15px 15px 0 0;

  background-image: url("images/korea.jpeg");

  background-size: 100% 280px;

  background-repeat: no-repeat;

  background-color: #ffc9e2;
}

.card-header-4 {
  -webkit-transition: 0.5s;
  /*사파리 & 크롬*/

  -moz-transition: 0.5s;
  /*파이어폭스*/

  -ms-transition: 0.5s;
  /*인터넷 익스플로러*/

  -o-transition: 0.5s;
  /*오페라*/

  transition: 0.5s;

  width: 100%;

  height: 270px;

  border-radius: 15px 15px 0 0;

  background-image: url("images/korea.jpeg");

  background-size: 100% 280px;

  background-repeat: no-repeat;

  background-color: rgb(73, 185, 222);
}

.card-header-5 {
  -webkit-transition: 0.5s;
  /*사파리 & 크롬*/

  -moz-transition: 0.5s;
  /*파이어폭스*/

  -ms-transition: 0.5s;
  /*인터넷 익스플로러*/

  -o-transition: 0.5s;
  /*오페라*/

  transition: 0.5s;

  width: 100%;

  height: 270px;

  border-radius: 15px 15px 0 0;

  background-image: url("images/korea.jpeg");

  background-size: 100% 280px;

  background-repeat: no-repeat;

  background-color: #fbe4c6;
}

.card:hover .card-header {
  opacity: 0.8;

  height: 100px;
}

.card:hover .card-header-1 {
  opacity: 0.8;

  height: 100px;
}

.card:hover .card-header-2 {
  opacity: 0.8;

  height: 100px;
}

.card:hover .card-header-3 {
  opacity: 0.8;

  height: 100px;
}

.card:hover .card-header-4 {
  opacity: 0.8;

  height: 100px;
}

.card-header-is_closed {
  background-color: #ef5a31;

  color: #fff;

  font-weight: bold;

  text-align: center;

  float: right;

  margin: 15px 15px 0 0;

  border-radius: 50%;

  font-weight: bold;

  padding: 10px 10px;

  line-height: 20px;
}

.card-body-header {
  color: black;

  line-height: 25px;

  margin: 10px 20px 0px 20px;
}

.card-body-description {
  opacity: 0;

  color: black;

  line-height: 25px;

  -webkit-transition: 0.2s ease-in-out;
  /*사파리&크롬*/

  -moz-transition: 0.2s ease-in-out;
  /*파이어폭스*/

  -ms-transition: 0.2s ease-in-out;
  /*익스플로러*/

  -o-transition: 0.2s ease-in-out;
  /*오페라*/

  transition: 0.2s ease-in-out;

  overflow: hidden;

  height: 180px;

  margin: 5px 20px;
}

.card:hover .card-body-description {
  opacity: 1;

  -webkit-transition: 0.5s ease-in-out;

  -moz-transition: 0.5s ease-in-out;

  -ms-transition: 0.5s ease-in-out;

  -o-transition: 0.5s ease-in-out;

  transition: 0.5s ease-in-out;

  overflow: hidden;
}

.card-body-hashtag {
  margin-right: 100px;

  font-style: italic;
}

.card-body-footer {
  position: absolute;

  margin-top: 15px;

  margin-bottom: 6px;

  bottom: 0;

  width: 314px;

  font-size: 14px;

  color: #c2e59c;

  padding: 0 15px;
}

.tabs {
  /* padding-bottom: 40px; */
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 600px;
  margin: 0 auto;
  margin-top: 200px;
  background-color: ivory;
}

/* 탭 스타일 */
.tab_item {
  width: calc(100% / 4);
  height: 50px;
  border-bottom: 3px solid #c2e59c;
  background-color: #f8f8f8;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  text-decoration: none;
  background-size: cover;
}

ul {
  list-style: none;
}

/* 선택 된 탭 콘텐츠를 표시 */
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content,
#play:checked ~ #play_content {
  display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  background-color: #c2e59c;
  color: #fff;
}

/* -- 방명록 -- */

.mypost {
  width: 95%;
  max-width: 100%;
  margin: 10rem auto 0px auto;
  padding: 20px;
  box-shadow: 0px 0px 3px 0px gray;
}
.mypost h4 {
  margin-top: 2rem;
}

.mypost button {
  max-width: 10rem;
}

.mybtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.mybtns > button {
  margin-right: 10px;
}

.footer {
  margin-top: 10rem;
}
.footer p {
  color: black;
  text-align: center;
}

#box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 30px;
}
