<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../static/style.css" />
   <script type="text/javascript" src="../static/main.js"></script>

    <title>메인페이지</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="header">
      <div class="typing-demo">안녕하세요 우리는 송1김4조입니다 :)</div>
    </div>

    <div class="wrap">
      <div id="introduce" class="card1">
        <a href="../templates/intro/yuan.html" target="_blank">
          <!-- 클릭 시 링크 설정 -->
          <div class="card">
            <!-- 카드 헤더 -->
            <div class="card-header"></div>
            <!--  카드 바디 -->
            <div class="card-body">
              <!--  카드 바디 헤더 -->
              <div class="card-body-header">
                <h1>김유안</h1>
                <p class="card-body-hashtag">#울산거주 #비전공자</p>
              </div>
              <p class="card-body-description">
                7조 김유안 입니다.
                <br />
                조장을 담당하고있습니다.
              </p>
              <!--  카드 바디 본문 -->
            </div>
          </div>
        </a>
      </div>

      <div id="introduce" class="card2">
        <a href="../templates/intro/Yesle.html" target="_blank">
          <!-- 클릭 시 링크 설정 -->
          <div class="card">
            <!-- 카드 헤더 -->
            <div class="card-header-1"></div>
            <!--  카드 바디 -->
            <div class="card-body">
              <!--  카드 바디 헤더 -->
              <div class="card-body-header">
                <h1>김예슬</h1>
                <p class="card-body-hashtag">#디자인 담당 #고영사랑중</p>
              </div>
              <p class="card-body-description">
                7조 김예슬 입니다.
                <br />메인 디자인과 방명록을 <br />담당하고 있습니다.
              </p>
              <!--  카드 바디 본문 -->
            </div>
          </div>
        </a>
      </div>

      <div id="introduce" class="card3">
        <a href="../templates/intro/seungwoo.html" target="_blank">
          <!-- 클릭 시 링크 설정 -->
          <div class="card">
            <!-- 카드 헤더 -->
            <div class="card-header-2"></div>
            <!--  카드 바디 -->
            <div class="card-body">
              <!--  카드 바디 헤더 -->
              <div class="card-body-header">
                <h1>김승우</h1>
                <p class="card-body-hashtag">#집돌이 #비전공자</p>
              </div>
              <p class="card-body-description">
                7조 송원석 입니다. 발표를 담당하고있습니다.
              </p>
              <!--  카드 바디 본문 -->
            </div>
          </div>
        </a>
      </div>

      <div id="introduce" class="card4">
        <a href="../templates/intro/taewook.html" target="_blank">
          <!-- 클릭 시 링크 설정 -->
          <div class="card">
            <!-- 카드 헤더 -->
            <div class="card-header-3"></div>
            <!--  카드 바디 -->
            <div class="card-body">
              <!--  카드 바디 헤더 -->
              <div class="card-body-header">
                <h1>김태욱</h1>
                <p class="card-body-hashtag">#구파발 대장 #불주먹 #딸깍</p>
              </div>
              <p class="card-body-description">
                7조 김태욱입니다.
                <br />
                주먹을 담당하고 있습니다.
              </p>
              <!--  카드 바디 본문 -->
            </div>
          </div>
        </a>
      </div>

      <div id="introduce" class="card5">
        <a href="../templates/intro/ws.html" target="_blank">
          <!-- 클릭 시 링크 설정 -->
          <div class="card">
            <!-- 카드 헤더 -->
            <div class="card-header-4"></div>
            <!--  카드 바디 -->
            <div class="card-body">
              <!--  카드 바디 헤더 -->
              <div class="card-body-header">
                <h1>송원석</h1>
                <p class="card-body-hashtag">#막내 #서울거주 #비전공자</p>
              </div>
              <p class="card-body-description">
                7조 송원석 입니다. 발표를 담당하고있습니다.
              </p>
              <!--  카드 바디 본문 -->
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="tabs">
      <input id="all" type="radio" name="tab_item" checked />
      <label class="tab_item" for="all">특징</label>
      <input id="programming" type="radio" name="tab_item" />
      <label class="tab_item" for="programming">목표</label>
      <input id="design" type="radio" name="tab_item" />
      <label class="tab_item" for="design">약속</label>
      <input id="play" type="radio" name="tab_item" />
      <label class="tab_item" for="play">프로젝트 소개</label>
      <div class="tab_content" id="all_content"></div>
      <div class="tab_content" id="all_content">
        <ul>
          <li>✔️ 5명 모두가 비전공자입니다:)</li>
          <li>✔️ 사전캠프동안 같이 보낸 조원이 많습니다! (무려 3명!)</li>
          <li>✔️ 반려동물을 사랑합니다💖</li>
        </ul>
      </div>
      <div class="tab_content" id="programming_content">
        <ul>
          <li>✔️ 취업을 하자!</li>
          <li>✔️ 이직을 하자!</li>
          <li>✔️ 기본만 하자!</li>
          <li>✔️ 런..하지..말자...^ㅡ^ㅠ</li>
        </ul>
      </div>
      <div class="tab_content" id="design_content">
        <ul>
          <li>✔️ 시간을 잘 지키자!</li>
          <li>✔️ 취업에 성공하자!</li>
          <li>✔️ 원활한 소통하기!</li>
          <li>✔️ 서로 서로 도와주기!</li>
        </ul>
      </div>
      <div class="tab_content" id="play_content">
        <p>
          ✔️HTML CSS JS Py DB Flask 사용했습니다.
          <br />프로젝트 내에서 찾아보시면 소소한 재미가있어요^^

          <br />
          ps. 열심히 했습니다...^^b
        </p>
      </div>
    </div>

    <div class="mypost">
      <form action="http://localhost:5000/login" method="post">
        <div class="form-floating mb-3">
          <input
            id="name"
            type="text"
            class="form-control"
            placeholder="닉네임을 입력해주세요"
          />
          <label for="floatingInput">닉네임</label>
        </div>

        <div class="form-floating">
          <textarea
            id="comment"
            class="form-control"
            placeholder="코멘트를 남겨주세요"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">코멘트</label>
        </div>
      </form>
      <div class="mybtns">
        <button onclick="save_templates()" type="button" class="btn btn-dark">
          제출하기
        </button>
      </div>
    </div>
    <div class="mypost" id="comment_list"></div>
    <div class="footer">
      <p>copyright 2022. 7team All rights reserved.</p>
    </div>
  </body>
</html>
